<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Молекулярно-кинетическая теория
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    link(rel="stylesheet", href="/sass/index.sass")
    style.
      .wrapper{
        display: flex;
        height:100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
      }
      .content{
        border-radius: 10px;
        padding: 20px;
        margin: 10px;
        background: rgba(255,255,255,.9);
        text-align: center
      }
      p{
        margin:  10px 0 !important;
        text-align: center;
      }
  body
    main
      .wrapper
        .content
          h1.text-center Электронный образовательный ресурс
          p Электронно-образовательный ресурс по физике по теме «Молекулярно кинетическая теория». 
          p Проект создан на базе ГБПОУ ВО «Владимирский политехнический колледж».
          a(href="/content.pug") Перейти к изучению