-
  let quests = [
        {
          "title": "Вопрос 1: Какая из приведенных ниже формул является основным уравнением молекулярно-кинетической теории идеального газа?",
          "answers": [
            {
              img: '/img/formuls/15.png',
              "value": 0
            },
            {
              img: '/img/formuls/16.png',
              "value": 0
            },
            {
              img: '/img/formuls/17.png',
              "value": 0
            },
            {
              img: '/img/formuls/18.jpg',
              "value": 1
            }
          ]
        },
        {
          "title": "Вопрос 2: Укажите единицу измерения количества вещества.",
          "answers": [
            {
              "title": "A. 1 стакан.",
              "value": 0
            },
            {
              "title": "B. 1 м<sup>3</sup>.",
              "value": 0
            },
            {
              "title": "C. 1 л.",
              "value": 0
            },
            {
              "title": "D. 1 моль.",
              "value": 1
            }
          ]
        },
        {
          "title": "Вопрос 3: Как изменится давление идеального газа на стенки сосуда, если в данном объеме скорость каждой молекулы удвоилась, а концентрация молекул не изменилась?",
          "answers": [
            {
              "title": "A. Не изменится.",
              "value": 0
            },
            {
              "title": "B. Увеличится в 4 раза.",
              "value": 1
            },
            {
              "title": "C. Уменьшится в 4 раза.",
              "value": 0
            },
            {
              "title": "D. Увеличится в 2 раза.",
              "value": 0
            }
          ]
        },
        {
          "title": "Вопрос 4:Какая физическая величина имеет размерность 1м<sup>3</sup>?",
          "answers": [
            {
              "title": "A. Плотность.",
              "value": 0
            },
            {
              "title": "B. Объем.",
              "value": 0
            },
            {
              "title": "C. Концентрация.",
              "value": 1
            },
            {
              "title": "D. Молярная масса.",
              "value": 0
            }
          ]
        },
        {
          "title": "Вопрос 5: Наблюдаемые в микроскоп частицы гуммигута, взвешенные в воде, двигаются беспорядочно и бессистемно, хаотически. Это демонстрирует:",
          "answers": [
            {
              "title": "A. Броуновское движение.",
              "value": 1
            },
            {
              "title": "B. Проводимость.",
              "value": 0
            },
            {
              "title": "C. Конвекцию.",
              "value": 0
            },
            {
              "title": "D. Диффузию.",
              "value": 1
            }
          ]
        },
        {
          "title": "Вопрос 6: В сосуде находится гелий, количество вещества которого составляет 2 моль. Сколько (примерно) атомов гелия в сосуде?",
          "answers": [
            {
              "title": "A. 10<sup>23</sup>.",
              "value": 0
            },
            {
              "title": "B. 2*10<sup>23</sup>.",
              "value": 0
            },
            {
              "title": "C. 6*10<sup>23</sup>.",
              "value": 0
            },
            {
              "title": "D. 12*10<sup>23</sup>.",
              "value": 1
            }
          ]
        },
        {
          "title": "Вопрос 7:В молекулярной физике используется понятие «идеальный газ». Это понятие применимо, когда можно пренебречь (выберите наиболее полный и точный ответ):",
          "answers": [
            {
              "title": "A.  Кинетической энергией частиц.",
              "value": 0
            },
            {
              "title": "B. Массой частиц.",
              "value": 0
            },
            {
              "title": "C. Потенциальной энергией взаимодействия частиц и их размерами.",
              "value": 1
            },
            {
              "title": "D.  Потенциальной энергией частиц.",
              "value": 0
            }
          ]
        },
        {
          "title": "Вопрос 8: Как изменилось давление идеального газа, если скорость каждой молекулы в объеме уменьшилась в 3 раза?",
          "answers": [
            {
              "title": "A. Уменьшилась в 3 раза.",
              "value": 0
            },
            {
              "title": "B. Увеличилась в 3 раза.",
              "value": 0
            },
            {
              "title": "C. Осталась неизменной.",
              "value": 0
            },
            {
              "title": "D. Среди перечисленных ответов нет правильного.",
              "value": 1
            }
          ]
        },
        {
          "title": "Вопрос 9: Плотность воздуха при нормальных условиях приблизительно равна (в единицах СИ):",
          "answers": [
            {
              "title": "A. 0,012.",
              "value": 0
            },
            {
              "title": "B. 1,3.",
              "value": 1
            },
            {
              "title": "C. 12,4.",
              "value": 0
            },
            {
              "title": "D. 0,12.",
              "value": 0
            }
          ]
        },
        {
          "title": "Вопрос 10: При измерении среднеквадратичных скоростей теплового движения молекул водорода и некоторого неизвестного газа получилось, что скорость молекул водорода в 3 раза больше. Измерения проводились при одинаковой температуре. Неизвестным газом оказался:",
          "answers": [
            {
              "title": "A. Азот.",
              "value": 0
            },
            {
              "title": "B. Кислород.",
              "value": 0
            },
            {
              "title": "C. Водяной пар.",
              "value": 1
            },
            {
              "title": "D. Углекислый газ.",
              "value": 0
            }
          ]
        }
      ]
  