-
  let quests3 = [
    {
      title:
        "Вопрос 1: Какова связь между давлением p и объемом V фиксированной массы при постоянной температуре?",
      answers: [
        {
          title: "A.	P*V=const.",
          value: 1
        },
        {
          title: "B.	p*V<sup>2</sup>=const.",
          value: 0
        },
        {
          title: "C.	p/V<sup>2</sup>=const.",
          value: 0
        },
        {
          title: "D.	p/V=const.",
          value: 0
        }
      ]
    },
    {
      title:
        "Вопрос 2: Как изменится давление идеального газа при увеличении температуры и объеме газа в 4 раза?",
      answers: [
        {
          title: "A.	Увеличится в 4 раза",
          value: 0
        },
        {
          title: "B.	Уменьшится в 4 раза.",
          value: 0
        },
        {
          title: "C.	Не изменится.",
          value: 1
        },
        {
          title: "D.	Увеличится в 16 раз.",
          value: 0
        }
      ]
    },
    {
      title:
        "Вопрос 3:В одинаковых сосудах при одинаковой температуре находятся водород и углекислый газ. Массы газов одинаковы. Какой из газов и во сколько раз оказывает большее давление на стенки сосуда?",
      answers: [
        {
          title: "A.	Водород в 22 раза.",
          value: 1
        },
        {
          title: "B.	Углекислый газ в 22 раза.",
          value: 0
        },
        {
          title: "C.	Водород в 11 раз.",
          value: 0
        },
        {
          title: "D.	Углекислый газ в 11 раз.",
          value: 0
        }
      ]
    },
    {
      title:
        "Вопрос 4:Определите число молекул, которое содержится в 36 г водяного пара(Na – число Авогадро).",
      answers: [
        {
          title: "A.	Na",
          value: 0
        },
        {
          title: "B.	2Na",
          value: 1
        },
        {
          title: "C.	4Na",
          value: 0
        },
        {
          title: "D.	Na/2",
          value: 0
        }
      ]
    },
    {
      title:
        "Вопрос 5:Как изменяется концентрация идеального газа в изобарическом процессе в зависимости от температуры?",
      answers: [
        {
          title: "A.	Убывает обратно пропорционально Т.",
          value: 1
        },
        {
          title: "B.	Линейно возрастает.",
          value: 0
        },
        {
          title: "C.	Возрастает пропорционально Т<sup>2</sup>.",
          value: 0
        },
        {
          title: "D.	Убывает пропорционально Т<sup>2</sup>.",
          value: 1
        }
      ]
    },
    {
      title:
        "Вопрос 6:Определите число молекул, которое содержится в 16 г молекулярного кислорода (Na - число Авогадро).",
      answers: [
        {
          title: "A.	Na",
          value: 0
        },
        {
          title: "B.	2Na",
          value: 0
        },
        {
          title: "C.	4Na",
          value: 0
        },
        {
          title: "D.	Na/2",
          value: 1
        }
      ]
    },
    {
      title:
        "Вопрос 7:При осуществлении, какого изопроцесса увеличение абсолютной температуры в 2 раза приводит к увеличению давления также в 2 раза?",
      answers: [
        {
          title: "A.	 Изобарического.",
          value: 0
        },
        {
          title: "B.	Изохорического.",
          value: 1
        },
        {
          title: "C.	Изотермического.",
          value: 0
        },
        {
          title: "D.	Адиабатного.",
          value: 0
        }
      ]
    },
    {
      title:
        "Вопрос 8: Определите число молекул, которое содержится в 2 граммах молекулярного водорода(Na – число Авогадро).",
      answers: [
        {
          title: "A.	4Na",
          value: 0
        },
        {
          title: "B.	2Na",
          value: 0
        },
        {
          title: "C.	Na",
          value: 1
        },
        {
          title: "D.	Na/2",
          value: 0
        }
      ]
    },
    {
      title:
        "Вопрос 9:Как изменится давление идеального газа при уменьшении температуры и объем газа и 2 раза?",
      answers: [
        {
          title: "A.	Увеличится в 2 раза.",
          value: 0
        },
        {
          title: "B.	Не изменится.",
          value: 1
        },
        {
          title: "C.	Уменьшится в 2 раза",
          value: 0
        },
        {
          title: "D.	Увеличится в 4 раза.",
          value: 0
        }
      ]
    },
    {
      title:
        "Вопрос 10:До какой температуры при нормальном давлении надо нагреть кислород, чтобы его плотность стала равна плотности азота при нормальных условиях?",
      answers: [
        {
          title: "A.	До 39 <sup>о</sup>С.",
          value: 1
        },
        {
          title: "B.	До 59 <sup>о</sup>С.",
          value: 0
        },
        {
          title: "C.	До 29 <sup>о</sup>С.",
          value: 0
        },
        {
          title: "D.	До 49 <sup>о</sup>С.",
          value: 0
        }
      ]
    }
  ];